@import "~react-toolbox/components/_colors";
@import "~react-toolbox/components/_globals";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

$navigation-drawer-desktop-width: 3 * $standard-increment-desktop;
$navigation-drawer-mobile-width: $navigation-drawer-desktop-width;
$navigation-drawer-max-desktop-width: 30 * $unit;